.App {
  display: flex;
}

.App .content {
  flex: 1;
}

.App .content .Map {
  height: 120vh;
}

.App .content #map {
  height: inherit;
  margin: 100;
  padding: 0;
}

.App.error {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.App.error > .error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 1.5em;
}


button {
  border-radius: 5%;
  color: #006400;
  background: #D1913C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  font-weight: 800;
}

@media only screen and (max-width: 800px) {

  .App {
      flex-direction: column-reverse;
  }
}
